<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Yesse Velas</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	:root {
		--color-primario: #df9ac5;
		--color-secundario: #ca69a2;
		--color-texto: #333;
		--color-fondo: #fff8fa;
	}

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	}
	body {
		background-color: var(--color-fondo);
		overflow: hidden;
		position: relative;
		height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
</style>
